<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Radar0.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar1.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar10.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar11.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar12.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar13.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar14.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar15.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar16.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar17.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar18.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar19.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar2.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar20.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar21.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar22.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar23.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar24.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar25.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar26.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar27.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar28.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar29.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar3.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar30.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar31.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar32.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar33.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar34.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar35.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar36.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar37.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar38.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar39.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar4.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar40.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar41.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar42.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar43.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar44.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar45.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar46.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar47.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar48.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar49.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar5.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar50.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar51.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar52.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar53.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar54.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar55.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar56.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar57.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar58.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar59.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar6.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar60.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar61.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar62.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar63.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar64.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar65.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar66.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar67.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar68.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar69.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar7.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar70.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar71.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar8.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Radar9.jpg</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {400, 375}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{400, 375}</string>
			<key>spriteSourceSize</key>
			<string>{400, 375}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {400, 375}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>Radar.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>